{% extends "base.html" %}

{% block content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12"> 
            <h1 class="display 4">Contact Us</hi>
        </div>
        <hr>
    </div>
</div>

<body>
<div class="container" id="">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h2>Address</h2>
			<p></p>
			<p>Northern Ireland Statistics & Research Agency</p>
            <p>Colby House</p>
            <p>Stranmillis Court</p>
            <p>Belfast</p>
            <p>BT9 5RR</p>
			<br>
		</div>
		<div class="col-lg-6">
			<h2>Links</h2>
			<p>Phone: 0300 200 7836</p>
			<p>Email: info@nisra.gov.uk</p>
			<p></p><a href="https://twitter.com/NISRA">Twitter</a></p>
            <p><a href="https://www.facebook.com/nisra.gov.uk/">Facebook</a></p>
		</div>
	</div>	
	</div>
</body>

{% endblock content %}
