{% extends "base.html" %}

{% block content %}

<form action="", method="post">
  <p></p>
  <div class="container" >
    {% csrf_token %}
    {{ form }}
    <p></p>
    <button type="submit" name="enter_postcode" class="btn btn-primary" title="Enter Postcode">Enter Postcode</button>
  </div>
</form>

{% if postcode_output %}
  <div class='container'>
    <h1>Info on your postcode SOA</h1>
    <h4>For postcode: {{ postcode }}</h4>
    <h4>SOA(Super Output Area): {{ soa }}</h4>
    <h4>SOA Availabe Job Vacancies: {{ soa_jobs }}</h4>
  </div>
{% endif %}

{% endblock content %}
